#presentation{
  position: relative;
  height: 80vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  overflow: hidden;
}

#presentation img{
  height: 100%;
  width: auto;
  margin-left: 50%;
  transform: translateX(-50%);
}

#presentation header{
  position: absolute;
  z-index: 1;
}

#presentation div{
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

#presentation div h1{
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: .4em;
}
