#details{

  & > .ul{
    display: grid;
    row-gap: 3.5rem;
    grid-row-gap: 3.5rem;

    & > .ul__li{
      .image-container{
        height: 430px;
      }
      .image-container__image{
        object-fit: cover;
      }
    }

    & > .ul__li--width-large{
      justify-self: center;

      .text-header{
        max-width: 575px;
      }
    }
  }
}

.tab-container__nav{
  margin-bottom: 1.4rem;
  --lighter-gray: #c1cace;
  color: var(--lighter-gray);
}

.tab-container__nav-item{
  display: inline-block;
  margin-right: 1rem;
  transition: var(--transition-all-ease-out);
  .fa-th{
    color: inherit;
    font-size: .6em;
    margin-right: .4em;
    transform: translateY(-.4em);
  }

  &:last-child{
    margin-right: 0;
  }
  &:hover{
    cursor: pointer;
    color: var(--light-green);
    .fa-th{
      color: var(--light-green);
    }
  }
}
.tab-container__nav-item--selected{
  color: var(--light-green);
  .fa-th{
    color: var(--light-green);
  }
}

.tab-container__tab-body{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 1s cubic-bezier(.17,.84,.44,1);
}

.tab-container__tab-body--selected{
  opacity: 1;
  height: auto;
}