#details{

  & > .ul{
    display: grid;
    row-gap: 3.5rem;
    grid-row-gap: 3.5rem;

    & > .ul__li{
      .image-container{
        height: 430px;
      }
    }

    & > .ul__li--width-large{
      justify-self: center;

      .text-header{
        max-width: 575px;
      }
    }
  }
}

.tabs-container__nav{
  margin-bottom: 1.4rem;
}

.tabs-container__nav-item{
  display: inline-block;
  margin-right: 1rem;
  transition: var(--transition-all-ease-out);

  &:last-child{
    margin-right: 0;
  }
  &:hover{
    cursor: pointer;
    color: var(--light-green);
  }
}
.tabs-container__nav-item--selected{
  color: var(--light-green);
}

.tabs-container__tab-body{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 1s cubic-bezier(.17,.84,.44,1);
}

.tabs-container__tab-body--selected{
  opacity: 1;
  height: auto;
}