.intro__content{
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.intro__content > .text-container{
  margin-bottom: 2rem;
}

.image-container{
  overflow: hidden;
  height: auto;
  width: 100%;
}

.image-container__image{
  height: 100%;
  width: 100%;
}

.image-container--border-small{
  border-radius: 5px;
  
  & > .image-container__image{
    border-radius: 5px;
  }
}

.image-container__image--zoom-yes{
  transition: var(--transition-all-ease-out);
  
  &:hover{
    transform: scale(1.15);
  }
}

.text-header{
  text-decoration: none;
  line-height: 1.5em;
  margin-bottom: 1.2rem;
  font-weight: bolder;
}

.text-header--align-center {
  text-align: center;
}

.text-header__title{
  font-size: .65rem;
  text-transform: uppercase;
  color: var(--light-green);
  margin-bottom: .3rem;
}

.text-header__message{
  color: var(--dark-gray);
  font-size: 1.3rem;
}

.text-header__message--color-white{
  color: #fff;
}

.intro__steps{
  display: flex;
  flex-direction: column;
  text-align: center;

  .hexagon{
    margin-bottom: .7rem;
  }
}

.intro__steps li{
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__steps li:first-child{
  margin-top: 0;
}

.hexagon{
  width: 52px;
  height: 52px;
  position: relative;
  background: center / contain no-repeat url(../assets/hexagon-green.svg) border-box;
}

.hexagon--big{
  width: 96px;
  height: 96px;
}

.hexagon--smaller{
  width: 26px;
  height: 26px;
}

.hexagon__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hexagon__icon--big{
  font-size: 1.6em;
}

.hexagon__icon--smaller{
  font-size: .6em;
}

.hexagon__icon--white{
  color: #fff;
}