#intro{
  width: 95%;
  max-width: 510px;
  margin: 5rem auto;
}

.intro__content{
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.intro__content > .text-container{
  margin-bottom: 2rem;
}
.intro__content .intro__image-container, 
.intro__content .intro__image-container img{
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.intro__content .intro__image-container{
  overflow: hidden;
}

.intro__content .intro__image-container img{
  transition: all .4s cubic-bezier(.17,.84,.44,1);
}

.intro__content .intro__image-container img:hover{
  transform: scale(1.15);
}

.text-header{
  text-decoration: none;
  line-height: 1.5em;
  margin-bottom: 1.2rem;
  font-weight: bolder;
}

.text-header__title{
  font-size: .65rem;
  text-transform: uppercase;
  color: var(--light-green);
  margin-bottom: .3rem;
}

.text-header__message{
  color: var(--dark-gray);
  font-size: 1.3rem;
}

.intro__steps{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro__steps li{
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__steps li:first-child{
  margin-top: 0;
}
.intro__steps li h3{
  margin-bottom: .8em;
}

.hexagon{
  width: 52px;
  height: 52px;
  position: relative;
  background: center / contain no-repeat url(../assets/hexagon-green.svg) border-box;
}

.hexagon--big{
  width: 96px;
  height: 96px;
}

.hexagon--smaller{
  width: 26px;
  height: 26px;
}

.hexagon__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hexagon__icon--big{
  font-size: 1.6em;
}

.hexagon__icon--smaller{
  font-size: .6em;
}