@media only screen and (min-width: 755px){
  #presentation{
    height: 600px;
  }

  .nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: none;
    height: 110px;
  }

  .nav--on-scroll{
    background-color: var(--dark-blue);
    margin-top: 0;  
    height: 55px;
  }

  .nav__menu-icon{
    display: none;
  }

  .menu{
    width: auto;
  }

  .menu__item{
    display: inline-block;
  }

  .intro__content{

    .image-container{
      width: 690px;
      height: 446px;
    }
  }

  .section > *{
    max-width: 690px;
  }

  footer.section{
    .ul{
      flex-direction: row;
      justify-content: space-between;
      
      .ul__li{
        margin-top: 0;
      }
      .ul__li:first-child{
        /* The width value should be set carrefully, 
        so that the texts on other li childs don't overlap. */
        width: 40%;
      }
    }
  }

  #details{

    & > .ul{
      
      & > .ul__li--width-large{
        width: 75%;
      }

      & > .ul__li{

        .tab-container__tab-body{
          .ol{
            max-height: 320px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
          }

          .ol__li{
            max-width: 290px;
          }
        }
      }
    }
  }

  #testimonials{
    & > .text-header{
      width: 560px;
    }
  }

  .carousel{
    width: auto;
    max-width: 600px;
  }

  .carousel__item{
    $carousel__item-width: 49%; // must be less than 50%, to ensure that the margins will take the remaining space
    width: $carousel__item-width;
    margin-left: (50% - $carousel__item-width)/2;
    margin-right: (50% - $carousel__item-width)/2;
  }
}

@media only screen and (min-width: 1000px){
  #presentation{
    height: 840px;
  }

  .nav{
    justify-content: flex-end;
  }

  .nav__logo{
    margin-right: auto;
  }

  .social{
    display: inline-block;

    .hexagon{
      display: inline-block;
    }
  }

  .intro__content{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .image-container{
      width: 530px;
      height: 340px;
    }
  }

  .intro__steps{
    flex-direction: row;
    justify-content: space-between;
  }

  .intro__steps li{
    margin-top: 0;
    text-align: left;
    max-width: 350px;
    padding: 0 10px;
    align-items: flex-start;
  }

  .intro__icon-container i {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translate(100%, -50%);
  }

  .intro__content > .text-container{
    width: 40%;
    margin-bottom: 0;
  }

  .section > *{
    max-width: 925px;
  }

  .card-container{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .card{
      margin-top: 0;
      width: 290px;
    }
  }

  footer.section{
    .ul{
      .ul__li:first-child{
        width: 50%;
      }
    }
  }

  #details{

    & > .ul{
      grid-template-rows: 555px 555px;
      grid-template-columns: 50% 50%;
      row-gap: 0;
      grid-row-gap: 0;

      & > .ul__li{
        margin: 0;
        &.ul__li--width-large{
          align-self: center;
          width: 88%;
        }
        .image-container{
          height: 100%;
        }
        .tab-container{
          height: 360px;
        }
        .tab-container__tab-body{
          .ol{
            max-height: 370px;
          }
          .ol__li{
            max-width: 200px;
          }
        }

        .tab-container__nav{
          text-align: left;
        }
      }

      & > .ul__li--width-large{
        width: 75%;
      }
    }
  }

  .carousel{
    max-width: 840px;
  }

  .carousel__item{
    $carousel__item-width: 32%; // must be less than 33.333%
    width: $carousel__item-width;
    margin-left: (33.333% - $carousel__item-width)/2;
    margin-right: (33.333% - $carousel__item-width)/2;
  }

  .section-container{
    display: flex;
    justify-content: space-between;
    & > * {
      width: 450px;
    }
    & > *:not(:first-child){
      margin-top: 0;
    }
  }

}

@media only screen and (min-width: 1200px){
  #presentation{
    height: 900px;
  }

  .nav{
    padding: 12px 80px;
  }

  .intro__content{
    justify-content: space-between;
    
    .image-container{
      height: 410px;
      width: 635px;
    }
  }

  .section > *{
    max-width: 1100px;
  }

  .card-container{
    .card{
      width: 335px;
    }
  }

  #details{

    & > .ul{

      & > .ul__li{
        margin: 0;
        
        &.ul__li--width-large{
          max-width: 448px;
        }

        &:nth-child(4n + 2){
          justify-self: start;
          margin-left: 4rem;
        }

        &:nth-child(4n + 3){
          justify-self: end;
          margin-right: 4rem;
        }
      }

      & > .ul__li--width-large{
        width: 75%;
      }
    }
  }

  .carousel{
    max-width: 1000px;
  }

  .carousel__item{
    $carousel__item-width: 32.5%; // must be less than 33.333%
    width: $carousel__item-width;
    margin-left: (33.333% - $carousel__item-width)/2;
    margin-right: (33.333% - $carousel__item-width)/2;
  }

  .section-container{
    justify-content: space-around;
    & > * {
      width: 464px;
    }
  }
}

@media only screen and (min-width: 1600px){
  #presentation{
    .background{
      height: auto;
      width: 100%;
    }
  }

  .nav{
    padding: 12px 180px;
  }
}