/* on small screen sizes: */

@media only screen and (min-width: 755px){
  #presentation{
    height: 600px;
  }

  #intro{
    max-width: 690px;
  }
}

/* on medium screen sizes: */

@media only screen and (min-width: 1000px){
  #presentation{
    height: 840px;
  }

  #intro{
    width: auto;
    max-width: 980px;
  }

  .intro__content{
    flex-direction: row;
    justify-content: space-evenly;
  }

  .intro__steps{
    flex-direction: row;
  }

  .intro__steps li{
    margin-top: 0;
    text-align: left;
  }

  .intro__icon-container i {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translate(100%, -50%);
  }

  .intro__content > div{
    width: 40%;
  }

  .intro__content .intro__image-container{
    width: 55%;
  }

}

/* on large screen sizes: */

@media only screen and (min-width: 1200px){
  #presentation{
    height: 900px;
  }
  #intro{
    max-width: 1130px;
  }
  .intro__content{
    justify-content: space-between;
  }
}