#services{

  .text-header{
    max-width: 450px;
    margin-bottom: 3rem;
  }
}

.section{
  padding: 5rem 0;
  margin: 0 auto;
  & > * {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 510px;
  }
}

.section--background-color-light-white{
  background-color: var(--light-white);
}

.section--background-color-dark-blue{
  background-color: var(--dark-blue);
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  border-radius: 7px;
  border: 1px solid var(--lighter-gray);
  margin-top: 4rem;
  &:first-child{
    margin-top: 0;
  }
  & > .image-container{ 
    border-radius: 7px 7px 0 0;
  }
}
.card__title{
  padding: 1.45rem 1.2rem;
  text-align: center;
}
.card__body{
  padding: 0 1.2rem;
  font-size: .8rem;
}
.card__description{
  margin-bottom: 1.2rem;
  & > *{
    margin-bottom: 1rem;
  }
}
.card__footer{
  text-align: center;
  .button{
    transform: translateY(50%);
  }
}

.ul__li{
  margin: .5rem 0;
  color: var(--light-gray);
}

.ul__li--distance-medium{
  margin-bottom: 2rem;
}
.ul__li--width-large{
  width: 90%;
}
.ul__li--color-dark-gray{
  color: var(--dark-gray);
}

.ul--decorated-with-squares{
  & > .ul__li{
    position: relative;
    padding-left: 1.2em;
  }
  & > .ul__li::after{
    content: '';
    background-color: var(--light-green);
    position: absolute;
    height: .5em;
    width: .5em;
    top: 50%;
    left: 0;
    transform: translateY(-70%);
  }
}

.ul__li--horizontal-bar{
  position: relative;
  height: 4em;
  &::after{
    content: '';
    position: absolute;
    height: 1.6em;
    width: 100%;
    top:0;
    left:0;
    transform: translateY(100%);
    background-color: var(--light-green);
    border-radius: 3px;
  }
}

.ul__li--horizontal-bar-width-90{
  &::after{
    width: 90%;
  }
}

.ul__li--horizontal-bar-width-76{
  &::after{
    width: 76%;
  }
}