:root{
  --light-green: #14bf98;
  --dark-blue: #113448;
  --blue: #153e52;
  --dark-gray: #484a46;
  --light-gray: #787976;
  --fas-primary-color: #fff;
  --lighter-gray: #ebe8e8;
  --light-white: #fbfbfb;
  font-size: 20px;
  --transition-all-ease-out: all .4s cubic-bezier(.17,.84,.44,1);
}

.fas {
  color: var(--fas-primary-color);
}

.intro__icon-container .fas{
  font-size: 1.6em;
}

@import 'presentation';
@import 'intro';
@import 'services';
@import 'details';
@import 'testimonials';
@import 'call-me';
@import 'footer';
@import 'media-queries';